---
title: Post 4 (data)
tags:
  - blog
  - eleventy
  - data
---

<h1>{{ title }}</h1>

<p>This post is about using data with Eleventy, and should have one related post (post-1).</p>

{%- include "related-eleventy-data.njk" -%}
